#search-field-container, #delete-field-container{
    text-align: center;
    border-bottom: 3px ridge black;
    font-size: 1.25rem;
}

#search-field-container{
    padding-bottom: 0.5rem;
}

#items-container{
    position: absolute;
    top: 5.75rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

    #no-items{
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem;
    }

    #items{
        padding: 0.25rem;
    }

        #items-table{
            border-collapse: separate;
            border-spacing: 0 0.5rem;
            min-width: 100%;
        }

            .items-head th{
                position: sticky;
                top: 0rem;
            }

            #items-table td:not(:last-child), #items-table th:not(:last-child){
                border-right: none;
            }

            .item{
                text-align: center;
            }

            .item td:not(:first-child){
                vertical-align: top;
            }

            .item input[type=checkbox]{
                transform: scale(2);
                margin: 0.25rem;
            }

            .value-area{
                min-width: 15rem;
                min-height: 4rem;
            }

            .label{
                white-space: nowrap;
                border: 2px outset black;
                margin: 0.125rem;
                padding: 0.125rem;
                display: inline-block;
            }