<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD th:fragment="head">
    <LINK rel="stylesheet" href="/css/create_item.css">
</HEAD>
<BODY>
<MAIN th:fragment="main">
    <SECTION th:replace="/item_page/sections.html :: label_section"></SECTION>
    <SECTION th:replace="/item_page/sections.html :: key_section"></SECTION>
    <SECTION th:replace="/item_page/sections.html :: item_section"></SECTION>
</MAIN>

<SPAN th:fragment="footer">
    <BUTTON id="create-item-button" onclick="eventProcessor.processEvent(new Event(events.CREATE_ITEM))"></BUTTON>
</SPAN>
</BODY>
</HTML>